<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://buenocode-001-site1.smarterasp.net:80/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://buenocode-001-site1.smarterasp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>buenocode-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\buenocode-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IntegraConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Integra.Repositorio.EF.IntegraContexto, Integra.Repositorio.EF" MigrationConfiguration="Integra.Repositorio.EF.Migrations.Configuration, Integra.Repositorio.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IntegraReportConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=201.77.209.53\CRM_PRD;Initial Catalog=RepositorioReports;User ID=rafael.pinto;Password=Proview2011*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IntegraReportConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=201.77.209.53\CRM_PRD; Database=RepositorioReports; User Id=rafael.pinto; Password=Proview2011*;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IntegraConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>