
@{
    ViewBag.Title = ": Painel de Controle Íntegra Medical : Projeto :";
    Layout = "~/Views/Shared/_LayoutMaster.module.cshtml";
}

<div class="container-fluid" id="main-container" style="padding-top: 10px;">
    <div id="main-content" class="clearfix">
        <div id="page-content" class="clearfix">
            <div class="page-header position-relative">
                <h3>Projeto <small></small></h3>
            </div>
            <div class="row-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- conteudo aqui -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_LayoutFooter")