<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
        <add key="SmtpTo" value="quemvairecebe@email.com, quemvairecebe2@email.com,"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="IntegraConnectionString" 
         connectionString="Server=201.77.209.53\INTEGRA_PRD; Database=PainelDeControle; User Id=userprogramas; Password=1ntm3d542013;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <mailSettings xdt:Transform="Replace">
    <smtp from="atendimento@integramedical.com.br">
      <network host="smtpauth.vcaremail.com.br" port="587" userName="atendimento@integramedical.com.br" password="1mtakna@51" enableSsl="true" />
    </smtp>
  </mailSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <entityFramework xdt:Transform="Replace">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Integrated Security=False; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Integra.Web.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" xdt:Transform="Replace" />
    <services>
      <service name="Integra.Web.Service1">
        <endpoint address="" behaviorConfiguration="Integra.Web.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="Integra.Web.Service1" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings xdt:Transform="Replace">
    <Integra.Web.Properties.Settings>
      <setting name="Integra_Web_integraEssencial_IntegraEssencial"
        serializeAs="String">
        <value>http://www.integrawebservice.com.br/Site_EssencialWS/IntegraEssencial.asmx</value>
      </setting>
    </Integra.Web.Properties.Settings>
  </applicationSettings>
</configuration>