@using Integra.Web.Helpers
@model IEnumerable<Integra.Dominio.RelatorioCuidadorProMemoria>
@{Layout = null;  }

<div id="DivPageDadosRelatorioParcialView">
    <table id="RelatorioDados" data-bind="dataTable:
															{
															    dataSource: DadosRelatorioParcialView,
															    rowTemplate: 'gridOrigemCadastroTemplate',
															    sPaginationType: 'bootstrap',
															    iDisplayLength: 25,
															    gridId: 'RelatorioDados',
															    sDom: 'fptr',
															    autoWidth: false,
															    columns:
																	[
                                                                        { 'name': 'Detalhe' },
                                                                        { 'name': 'Quantidade' }
																	],
															    options: {
															        oLanguage: {
															            sUrl: '@Url.Content("~/Content/table-lang-br.txt")    '   
                                                            }
                                                        }                                                        
                                                        }" 
           class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align: left; width: 820px;"><b></b></th>
                <th style="text-align: left; width: 220px;"><b>Quantidade</b></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="form-actions">
        <button data-bind="visible: DadosRelatorioParcialView().length, click: generate_excel" class="bbtnn bbtnn-gray"><i class="icon-file"></i>Exportar</button>
    </div>
</div>

<script id="gridOrigemCadastroTemplate" type="text/html">    
    <td data-bind="text: Detalhe" style="width: 320px; text-align: left;"></td>
    <td data-bind="text: Quantidade" style="width: 320px; text-align: left;"></td>    
</script>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var view = new relatorioViewModel();
        ko.applyBindingsWithValidation(ko.validatedObservable(view), $("#DivPageDadosRelatorioParcialView").get(0));
		
        $(".ui-dialog-titlebar").hide();
        $(".ui-dialog-buttonpane").hide();        
    });
    
    function relatorioViewModel() {        
        var allData = @Html.Raw(Json.Encode(Model));
        var mappedData = jQuery.map(allData, function (item) { return new ServicosContratadosTableView(item, self); });
        self.DadosRelatorioParcialView = ko.observableArray(mappedData);
		               
        self.generate_excel = function () {
            export_excel("RelatorioDados");
        };  
    }
    
    function ServicosContratadosTableView(data, parent) {
        var self = this;
        self.Parent = parent;
        self.Detalhe = ko.observable(data.Detalhe);        
        self.Quantidade = ko.observable(data.Quantidade);     
    };  

    function export_excel(tableid) {
        var html = '';
        var oTable = $('#'+tableid).dataTable().fnGetData();

        html+="<html><table>";
        html+="<tr style='text-align:left;vertical-align:middle;width:100%'>";
        $('#'+tableid+' thead th').each(function(){html += "<th>" +this.textContent + "</th>"});
        html+="</tr>";
        for (var count = 0; count <= oTable.length - 1; count++) {
            html+="<tr style='text-align:left;vertical-align:middle;width:100%'>";
            html+="<td>"+oTable[count].Detalhe.toString()+"</td>" ;
            html+="<td>"+oTable[count].Quantidade.toString()+"</td>";
            html+="</tr>";
        }
        html+="</table></html>"; 

        window.open('data:application/vnd.ms-excel;base64,' + base64_encode(html));
    }
    
    function base64_encode (data) {
        var b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
        var o1, o2, o3, h1, h2, h3, h4, bits, i = 0, ac = 0, enc = "", tmp_arr = [];

        if (!data) {
            return data;
        }

        do {
            o1 = data.charCodeAt(i++);
            o2 = data.charCodeAt(i++);
            o3 = data.charCodeAt(i++);
            bits = o1 << 16 | o2 << 8 | o3;
            h1 = bits >> 18 & 0x3f;
            h2 = bits >> 12 & 0x3f;
            h3 = bits >> 6 & 0x3f;
            h4 = bits & 0x3f;
            tmp_arr[ac++] = b64.charAt(h1) + b64.charAt(h2) + b64.charAt(h3) + b64.charAt(h4);
        } while (i < data.length);
        enc = tmp_arr.join('');
        var r = data.length % 3;
        return (r ? enc.slice(0, r - 3) : enc) + '==='.slice(r || 3);
    }
    
</script>
