@model IEnumerable<Integra.Dominio.RelatorioPacientesAtivos>


<div id="DivPageDadosParcialView">
    <table id="RelatorioDados" data-bind="dataTable:
															{
															    dataSource: DadosRelatorioParcialView,
															    rowTemplate: 'gridServicosContratadosTemplate',
															    sPaginationType: 'bootstrap',
															    iDisplayLength: 25,
															    gridId: 'RelatorioDados',
															    sDom: 'fptr',
															    autoWidth: false,
															    columns:
																	[
																		{ 'name': 'Ifx' },
                                                                        { 'name': 'FaixaEtaria' },
                                                                        { 'name': 'Estado' },
                                                                        { 'name': 'Cidade' },
                                                                        { 'name': 'Doenca' },
                                                                        { 'name': 'Medico' },
                                                                        { 'name': 'Especialidade' },
                                                                        { 'name': 'QtdeInfusoes' },
                                                                        { 'name': 'QtdeEssencial' },
																	    { 'name': 'QtdeInicioTratamentos' }

																	],
															    options: {
															        oLanguage: {
															            sUrl: '@Url.Content("~/Content/table-lang-br.txt")    '
                                                            }
                                                        }
                                                        }" 
           class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align: left;"><b>Ifx</b></th>
                <th style="text-align: left;"><b>Faixa Etaria</b></th>
                <th style="text-align: left;"><b>Estado</b></th>
                <th style="text-align: left;"><b>Cidade</b></th>
                <th style="text-align: left;"><b>Doença</b></th>
                <th style="text-align: left;"><b>Medico</b></th>
                <th style="text-align: left;"><b>Especialidade</b></th>
                <th style="text-align: left;"><b>Qtde Infusões</b></th>
                <th style="text-align: left;"><b>Qtde Essencial</b></th>
                <th style="text-align: left;"><b>Qtde Inicio Tratamentos</b></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <b style="float:right;">Quantidade de infusões: @ViewBag.qtdTotal</b>
    
    <div class="form-actions">
        <button data-bind="visible: DadosRelatorioParcialView().length, click: generate_excel" class="bbtnn bbtnn-gray"><i class="icon-file"></i>Exportar Excel</button>
    </div>
</div>

<script id="gridServicosContratadosTemplate" type="text/html">
    <td data-bind="text: Ifx" style="width: 100px; text-align: left;"></td>
    <td data-bind="text: FaixaEtaria" style="width: 200px; text-align: left;"></td>
    <td data-bind="text: Estado" style="width: 80px; text-align: left;"></td>
    <td data-bind="text: Cidade" style="width: 100px; text-align: left;"></td>
    <td data-bind="text: Doenca" style="width: 200px; text-align: left;"></td>
    <td data-bind="text: Medico" style="width: 200px; text-align: left;"></td>
    <td data-bind="text: Especialidade" style="width: 100px; text-align: left;"></td>
    <td data-bind="text: QtdeInfusoes" style="width: 20px; text-align: left;"></td>
    <td data-bind="text: QtdeEssencial" style="width: 20px; text-align: left;"></td>
    <td data-bind="text: QtdeInicioTratamentos" style="width: 20px; text-align: left;"></td>
</script>


<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var view = new relatorioViewModel();
        ko.applyBindingsWithValidation(ko.validatedObservable(view), $("#DivPageDadosParcialView").get(0));
		
        $(".ui-dialog-titlebar").hide();
        $(".ui-dialog-buttonpane").hide();
    });
    
    function relatorioViewModel() {
        
        var allData = @Html.Raw(Json.Encode(Model));
        var mappedData = jQuery.map(allData, function (item) { return new ServicosContratadosTableView(item, self); });
        self.DadosRelatorioParcialView = ko.observableArray(mappedData);
		
        self.generate_excel = function () {
            export_excel("RelatorioDados");
        };

    }
    
    function ServicosContratadosTableView(data, parent) {
        var self = this;
        self.Parent = parent;
        self.Ifx = ko.observable(data.Ifx);
        self.FaixaEtaria = ko.observable(data.FaixaEtaria);
        self.Estado = ko.observable(data.Estado);
        self.Cidade = ko.observable(data.Cidade);
        self.Doenca = ko.observable(data.Doenca);
        self.Medico = ko.observable(data.Medico);
        self.Especialidade = ko.observable(data.Especialidade);
        self.QtdeInfusoes = ko.observable(data.QtdeInfusoes);
        self.QtdeEssencial = ko.observable(data.QtdeEssencial);
        self.QtdeInicioTratamentos = ko.observable(data.QtdeInicioTratamentos);
    };
    
    function arrumarLayout(indices) {
        
    }

    function export_excel(tableid) {
        var html = '';
        var oTable = $('#'+tableid).dataTable().fnGetData();

        html+="<html><table>";
        html+="<tr style='text-align:left;vertical-align:middle;width:100%'>";
        $('#'+tableid+' thead th').each(function(){html += "<th>" +this.textContent + "</th>"});
        html+="</tr>";
        for (var count = 0; count <= oTable.length - 1; count++) {
            html+="<tr style='text-align:left;vertical-align:middle;width:100%'>";
            html+="<td>"+oTable[count].Ifx.toString()+"</td>";
            html+="<td>"+oTable[count].FaixaEtaria.toString()+"</td>";
            html+="<td>"+oTable[count].Estado.toString()+"</td>";
            html+="<td>"+oTable[count].Cidade.toString()+"</td>";
            html+="<td>"+oTable[count].Doenca.toString()+"</td>";
            html+="<td>"+oTable[count].Medico.toString()+"</td>";
            html+="<td>"+oTable[count].Especialidade.toString()+"</td>";
            html+="<td>"+oTable[count].QtdeInfusoes.toString()+"</td>";
            html+="<td>"+oTable[count].QtdeEssencial.toString()+"</td>";
            html+="<td>"+oTable[count].QtdeInicioTratamentos.toString()+"</td>";
            html+="</tr>";
        }
        html+="</table></html>";

        window.open('data:application/vnd.ms-excel;base64,' + base64_encode(html));
    }
    
    function base64_encode (data) {
        var b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
        var o1, o2, o3, h1, h2, h3, h4, bits, i = 0, ac = 0, enc = "", tmp_arr = [];

        if (!data) {
            return data;
        }

        do {
            o1 = data.charCodeAt(i++);
            o2 = data.charCodeAt(i++);
            o3 = data.charCodeAt(i++);
            bits = o1 << 16 | o2 << 8 | o3;
            h1 = bits >> 18 & 0x3f;
            h2 = bits >> 12 & 0x3f;
            h3 = bits >> 6 & 0x3f;
            h4 = bits & 0x3f;
            tmp_arr[ac++] = b64.charAt(h1) + b64.charAt(h2) + b64.charAt(h3) + b64.charAt(h4);
        } while (i < data.length);
        enc = tmp_arr.join('');
        var r = data.length % 3;
        return (r ? enc.slice(0, r - 3) : enc) + '==='.slice(r || 3);
    }
    

    function export_chart(chart) {
        var canvas = document.createElement("canvas");
        if (typeof canvas.getContext == "undefined" || !canvas.getContext) {
            alert("Navegador não suporta essa ação.");
            return false;
        }

        try {
            document.body.appendChild(canvas);
            canvg(canvas, $("#" + chart).html());
            var context = canvas.getContext("2d");
            var rawImageData = canvas.toDataURL("image/png;base64");
            rawImageData = rawImageData.replace("image/png", "image/octet-stream")
            document.location.href = rawImageData;
            document.body.removeChild(canvas);
        }
        catch (err) {
            document.body.removeChild(canvas);
            alert("Navegador não suporta essa ação.");
        }

        return true;
    }
  

</script>
