<div id="footer" class="clearfix">
    <div class="container" style="text-align: center;">
        <div class="muted credit">
            Este site é uma ferramenta desenvolvida pela Íntegra Medical.<br />
            O uso deste site é governado pelos @Html.ActionLink("Termos de Uso", "TermosUso", "Home", new { }, new {onclick = "javascript:return false;", style="cursor:default;" }) e @Html.ActionLink("Política de Privacidade", "PoliticaPrivacidade", "Home", new { }, new {onclick = "javascript:return false;", style="cursor:default;" }) - &copy; Íntegra Medical @DateTime.Now.ToString("yyyy")
        </div>
    </div>
</div>
