@Html.ActionLink("Gestão de Tratamento", "Index", "Tratamento", new { }, new { @class = "brand"})
<div class="nav-collapse collapse">
    <ul class="nav pull-right">
        <li><a href="@Url.Action("Index", "Home", new { })" class="brand">
            <i class='icon-home'></i>Ínicio
        </a></li>
    </ul>
</div>
